{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          Sample Project
        {% endblock %}
    </title>
{% tailwind_css %}    
</head>
<body class="bd-dark">

    <nav class="bg-gray-900 text-white shadow-md">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16 items-center">

            <div class="text-xl font-bold">
                DjangoApp
            </div>

            <div class="flex space-x-8">
                <a href="/" class="hover:text-gray-300">Home</a>
                <a href="/social/" class="hover:text-gray-300">Social</a>
                <a href="#" class="hover:text-gray-300">Profile</a>
            </div>
            <a href="{ url 'tweet_list'}">Tweet Home</a>

            {% if user.is_authenticated %}



            <form method="post" action="{% url 'logout' %}">

                {% csrf_token %}
                <button type="submit">Logout</button>


            </form>

            {% else %}
            <a href="{ url 'register'}">Register</a>
            <a href="{ url 'login'}">Login</a>
            {% endif %}

        </div>
    </div>
</nav>

    <div class="container">
          {% block content %}
    Default content
    {% endblock %}
    </div>
    

</body>
</html>